/* @media  (min-width: 1350px) and (max-width: 1550px) {
    .Nav{
        width: 100%;
        border: 1px solid black;
    }
    .header-mid-menu{
        margin-left: 7rem;
        border: 1px solid greenyellow;
    }
    .header-mid-menu>div {
        border: 1px solid greenyellow;
    }
    .header-left-menu{
        margin-left: 4rem;
    }
    .header-left-menu > div {
        margin-left: 2.2rem;
    }
} */
.Nav{
    /* height:60px ; */
    width: 100%;
    padding: 1.2rem 2.5rem;
   display: flex;
   justify-content: space-evenly;
   margin:auto;
   background-color: #F9F9F9;
   font-family: Roboto, sans-serif;
   font-weight: 600;
   font-size: 14px;

}
.header-mid-menu{
    display: flex;
    margin-left: 4.5rem;
    align-items: center;
}
.header-mid-menu>div {
    margin-left: 1.9rem;
}
.header-left-menu{
    display: flex;
    align-items: center;
    margin-left: 2.6rem;
}
.header-left-menu > div {
    margin-left: 1.7rem;
}

/* --------------------droupdown menu---------------------------- */
.categories-dropdown-content{
  display: none;
  background-color: #F9F9F9;
  position: absolute;
  left:0;
  top:4.9rem;
  width: 100%;
  height:350px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content ul {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
.dropdown-content a:hover {
    background-color: #ddd;
}

.categories-dropdown-content ul:hover {background-color: #ddd;}

.droupdown:hover .categories-dropdown-content {display: block;}

.droupdown:hover .dropbtn {background-color: #3e8e41;}

 /*-------------------------- price DroupDonw------------------------------------------- */
.droupdown-price{
    position: relative;
    display: block;
}
.price-droupDown-content{
    background-color: #F9F9F9;
    display: none;
    position: absolute;
    /* left:0; */
    top:3rem;
    width: 300px;
    height:250px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }
 .droupdown-price:hover .price-droupDown-content{display: block;}

 /*------------------------------------ Deals DroupDown ---------------------------------------*/
 .droupdown-deal{
    position: relative;
    display: block;
}
.deal-droupDown-content{
    background-color: #F9F9F9;
    display: none;
    position: absolute;
    /* left:0; */
    top:3rem;
    width: 150px;
    height:180px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }
 .droupdown-deal:hover .deal-droupDown-content{display: block;}


 /* -------------------------Brand droupDown -----------------------------------------*/

.brand-droupDown-content{
    background-color: #F9F9F9;
    display: none;
    position: absolute;
    left:0;
    top:4.9rem;
    width: 100%;
    height:500px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
 }
 .droupdown-brand:hover .brand-droupDown-content{display: block;}